* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(123, 134, 111);
}

h1 {
    text-align: center;
    color: white;
}

img {
    width: 65%;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.d1 {
    background-image: url(img/images.png);
}